<template name="layout">
    <nav role="navigation" class="navbar-fixed-top">
      <div class="container">
        <div class="title-bar">
          <!--<ul class="nav navbar-nav pull-right">
            <li class="navItem"><a href="/scan" class="scan"></a></li>
          </ul>-->
          <a href="/" class="logo">give<strong>Change</strong></a>
          <div style="clear:both;"></div>
        </div>
      </div>
    </nav>

  <div class="container main">
    <div id="main" class="row-fluid">
      {{> yield}}
    </div>
  </div>
</template>
