<template name="payment">
  <div class="user">
    <div class="circle">
      <img class="photo" src="{{photo}}"/>
    </div>
    <p class="user-name"><strong>{{name}}</strong></p>
    <p class="bio"><strong>&quot;{{bio}}&quot;</strong></p>
    <div class="message">
      <p>Your donation will go directly to {{name}}'s account at <em>Save On Meats</em></p>
    </div>
  </div>
  <div class="question"><p>How much would you like to give?</p></div>
  <div class="amount">
    <button x-amt="2">$2</button>
    <button x-amt="5">$5</button>
    <button x-amt="10">$10</button>
  </div>
</template>
